.Title{
    display: flex;
    justify-content: center;
}
.Top-Title{
    align-self: center;
    width: 250px;
    height: 1px;
    background-color: #d6d6d7;
}
.Bot-Title{
    align-self: center;
    width: 250px;
    height: 1px;
    background-color: #d6d6d7;
}